doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title StudyBudy: My Summaries
    link(rel='stylesheet' href='/CSS/app.css')
    link(rel='stylesheet' href='/CSS/searchResults.css')
    link(rel='icon' href='../static/photos/icon.png' type='image/x-icon')
    script(src='https://kit.fontawesome.com/7d07e6b941.js' crossorigin='anonymous')
  body
    nav
      include navBar
    main
      .container
        h1 My Summaries
        h2 Here you can find your downloaded summaries history...
        .summary-board
          if downloads && downloads.length > 0
            each download in downloads
              .summary
                h2= download.name
                p Course Number: #{download.courseNumber}
                p Course Name: #{download.courseName}
                p Teacher: #{download.teacher}
                p Year: #{download.year}
                p Semester: #{download.semester}
                p Upload Date: #{download.uploadDate}
                a(href=download.summaryUrl) Download Summary
          else
            p No summaries available.
    footer
      include footer
  script(src='/JS/menu.js')