doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title StudyBudy: My Summaries
    link(rel='stylesheet' href='/CSS/app.css')
    link(rel='stylesheet' href='/CSS/searchResults.css')
    link(rel='icon' href='../static/photos/icon.png' type='image/x-icon')
    script(src='https://kit.fontawesome.com/7d07e6b941.js' crossorigin='anonymous')
  body
    nav
      include navBar
    main
      .container
<<<<<<< HEAD
        h1 Search Results
        .credit-counter-container
           i.fas.fa-coins
            span#credit-counter Your Credits:#{v1}
=======
        h1 My Summaries
        h2 Here you can find your downloaded summaries history...
>>>>>>> f9f958ede5408763803d433c544125cf7c96180e
        .summary-board
          if downloads.length > 0
            each download in downloads
              .summary-card
<<<<<<< HEAD
                h3= summary.Course_Name
                p= 'Course Number: ' + summary.Course_Number
                p= 'Teacher: ' + summary.teacher
                p= 'Year: ' + summary.Year
                p= 'Semester: ' + summary.Semester
                p= 'Number of Downloads: ' + summary.numDownloads
                p= 'Upload Date: ' + summary.uploadDate
                a.downBt(href=summary.summaryUrl download data-id=summary.Summary_ID)= 'Download'
=======
                h3= download.Course_Name
                p= 'Course Number: ' + download.Course_Number
                p= 'Teacher: ' + download.teacher
                p= 'Year: ' + download.Year
                p= 'Semester: ' + download.Semester
                p= 'Upload Date: ' + download.uploadDate
                a(href=download.summaryUrl)= 'Download'
>>>>>>> f9f958ede5408763803d433c544125cf7c96180e
          else
            p No summaries available.
    footer
      include footer
<<<<<<< HEAD
script(src='/JS/menu.js')
script(src='/JS/downloadLogger.js')
=======
  script(src='/JS/menu.js')
>>>>>>> f9f958ede5408763803d433c544125cf7c96180e
